<%= form_for(@meeting, :html => { :class => "formulario"}) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Comisión" %><br />
    <% if is_admin || is_admin_UO %>
	 	<% unless params[:id].nil? %>
	      <% @comisiones = Commission.find(:all, :conditions => {:id => params[:id]}).map { |t| [t.nombre, t.id] } %>
		<% else %>
	      <% @comisiones = Commission.all.map { |t| [t.nombre, t.id] } %>
		<% end %>
    <% else %>
   	 <% @roles = Rolagent.find(:all, :conditions => {:agent_id => current_user.id}).map { |r| [r.commission.nombre]} %>
   	 <% @units = Rolagent.find(:all, :conditions => {:agent_id => current_user.id}).map { |r| [r.unit.id]} %>
	 	 <% unless params[:id].nil? %>
     	 <% @comisiones = Commission.find(:all, :conditions => {:id => params[:id], :nombre =>  @roles, :unidad_id => @units}).map { |t| [t.nombre, t.id] }  %>
		 <% else %>
     	 <% @comisiones = Commission.find(:all, :conditions => {:nombre =>  @roles, :unidad_id => @units}).map { |t| [t.nombre, t.id] }  %>
		 <% end %>
    <% end %>
	 <% unless params[:id].nil? %>
	 	<%= f.select :commission_id, @comisiones %>
	<% else %>
	 	<%= f.select :commission_id, @comisiones, {:include_blank => true} %>
	 <% end %>
  </div>
  <div class="field">
    <%= f.label "Estado" %><br />
	 <% @estados = Value.find(:all, :conditions => 'codigo like "8._"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
	 <%= f.select :estado_id, @estados, {:include_blank => true} %>

  </div>
  <div class="field">
    <%= f.label "Fecha de la Convocatoria" %><br />
    <%= f.datetime_select :fechaconvocatoria %>
  </div>
  <div class="field">
    <%= f.label "Fecha Inicio" %><br />
    <%= f.datetime_select :fechainicio %>
  </div>
  <div class="field">
    <%= f.label "Motivo de la Cancelación" %><br />
    <%= f.text_area :motivocancelacion %>
  </div>
  <div class="field">
    <%= f.label "Orden del Día" %><br />
    <%= f.text_area :ordendia %>
  </div>
  <div class="field">
    <%= f.label "Acta" %><br />
    <%= f.text_area :acta %>
  </div>
  <div class="field">
    <%= f.label "Fecha de Aprobación" %><br />
    <%= f.text_area :fechaaprobacion %>
  </div>
  <div class="field">
    <%= f.label "Documentación" %><br />
	 <% @documentos = Doc.find(:all).map { |t| [t.url, t.id] } %>
	 <%= f.select :doc_id, @documentos, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label "Lugar" %><br />
    <%= f.text_field :lugar %>
  </div>

  <div class="actions">
    <%= f.submit :value => "Guardar Reunión", :class => "boton" %>
  </div>
<% end %>
