<h1>Listado de Reuniones</h1>
<p id="notice"><%= notice %></p>
<% if is_admin || is_admin_UO  || is_secre %>
   <br />
   <span class="nuevo">
   <%= link_to 'Nueva Reunión', new_meeting_path + '/' + params[:id].to_s + '/' + params[:u].to_s %>
   </span>
   <br />
   <br />
<% end %>

<table>
  <tr>
    <th>Comisión</th>
    <th>Estado</th>
    <th>Fecha de Inicio</th>
    <th>Lugar</th>
    <th>Asistentes</th>
    <th>Documentación</th>
    <th>Ver Datos</th>
<% if is_admin || is_secre %>
    <th>Modificar</th>
    <th>Eliminar</th>
<% end %>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.commission.nombre %></td>
    <td><%= meeting.estado.description %></td>
    <td><%= meeting.fechainicio %></td>
    <td><%= meeting.lugar %></td>
    <td><%= link_to link_to image_tag("icons/people.png", :width => "25px"), attendants_path + "/search/" + meeting.id.to_s %></td>
    <td><%= link_to link_to image_tag("icons/informes.png", :width => "25px"), docs_path + "/searchbymeet/" + meeting.id.to_s %></td>
    <td><%= link_to link_to image_tag("icons/view.png", :width => "25px"), meeting %></td>
<% if is_admin || is_secre %>
    <td><%= link_to link_to image_tag("icons/edit.png", :width => "25px"), edit_meeting_path(meeting) %></td>
    <td><%= link_to link_to image_tag("icons/delete.png", :width => "25px"), meeting, :confirm => '¿Está Seguro?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>
<br>
<span class="nuevo">
<%= link_to 'Volver', commissions_path + "/" + params[:id] %> 
</span>
