<p id="notice"><%= notice %></p>

<table class="show">
<tr>
  <th>Comisión:</th>
  <td><%= @meeting.commission.nombre %></td>
</tr>

<tr>
  <th>Estado:</th>
  <td><%= @meeting.estado.description %></td>
</tr>

<tr>
  <th>Fecha de la Convocatoria:</th>
  <td><%= @meeting.fechaconvocatoria %></td>
</tr>

<tr>
  <th>Fecha de Inicio:</th>
  <td><%= @meeting.fechainicio %></td>
</tr>

<tr>
  <th>Motivo de la Cancelación:</th>
  <td><%= @meeting.motivocancelacion %></td>
</tr>

<tr>
  <th>Orden del Día:</th>
  <td><%= @meeting.ordendia %></td>
</tr>

<tr>
  <th>Acta:</th>
  <td><%= @meeting.acta %></td>
</tr>

<tr>
  <th>Fecha de Aprobación:</th>
  <td><%= @meeting.fechaaprobacion %></td>
</tr>

<tr>
  <th>Documentación:</th>
  <td><%= @meeting.doc %></td>
</tr>

<tr>
  <th>Lugar:</th>
  <td><%= @meeting.lugar %></td>
</tr>
</table>


<% if is_admin || is_secre %>
   <br />
   <span class="nuevo">
   <%= link_to 'Editar', edit_meeting_path(@meeting) %>
   </span>
<% end %>

<br />
<br />
<span class="nuevo">
<%= link_to 'Volver', meetings_path + "/searchbycomm/" +  @meeting.commission.id.to_s%> 
</span>
