<%= form_for(@rolagent, :html => { :class => "formulario"}) do |f| %>
  <% if @rolagent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rolagent.errors.count, "error") %> prohibited this rolagent from being saved:</h2>

      <ul>
      <% @rolagent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Rol" %><br />
    <% if is_admin %>
      <% if params[:op].nil? %>     
	     <% @roles = Value.find(:all, :conditions => 'codigo like "6.3" OR codigo like "6.4" OR codigo like "6.5" ').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
      <% else %>
         <% @roles = Value.find(:all, :conditions => 'codigo like "6.1" OR codigo like "6.2" ').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
      <%end%>
    <% else %>
      <% if is_admin_UO %>
         <% @roles = Value.find(:all, :conditions => 'codigo like "6.3"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
      <% else %>
         <% if is_secre %>
            <% @roles = Value.find(:all, :conditions => ['codigo like "6.4" OR codigo like "6.5"'] ).map { |t| [t.codigo + ', ' + t.description, t.id] } %>
         <% end %>
      <% end %>      
   <% end %>
    <%= f.select :rol_id, @roles, {:include_blank => true} %>

  </div>
  <div class="field">
    <%= f.label "Usuario" %><br />
	 <% unless params[:op].nil? %>
	 <% @a = Agent.find(:all, :conditions => {:id => params[:op]}).map{ |aa| [aa.id]} %>
	 <% @agents = Agent.find(:all).map { |t| [t.usuario, t.id] } %>
    <%= f.select :agent_id, @agents, :selected => @a %>
	 <% else %>
	 <% @agents = Agent.find(:all).map { |t| [t.usuario, t.id] } %>
    <%= f.select :agent_id, @agents, {:include_blank => true} %>
	 <% end %>
  </div>
  <div class="field">
    <%= f.label "Unidad Organizativa" %><br />
	 <% unless params[:id].nil? and params[:u].nil? %>
	 	<% @units = Unit.find(:all, :conditions => {:id => params[:u]}).map { |t| [t.nombre, t.id] } %>
    	<%= f.select :unit_id, @units %>
	 <% else %>
	 	<% @units = Unit.find(:all, :conditions => ['id != 0']).map { |t| [t.nombre, t.id] } %>
    	<%= f.select :unit_id, @units, {:include_blank => true} %>
	 <% end %>
  </div>
  <div class="field">
    <%= f.label :"Comisión" %><br />
	 <% unless params[:id].nil? and params[:u].nil? %>
		 <% @commissions = Commission.find(:all, :conditions => {:id => params[:id]}).map { |t| [t.nombre, t.id] } %>
    	 <%= f.select :commission_id, @commissions %>
	 <% else %>
		 <% @commissions = Commission.find(:all, :conditions => {:id => 0}).map { |t| [t.nombre, t.id] } %>
  	    <%= f.select :commission_id, @commissions %>
	 <% end %>
  </div>
  <div class="field">
    <%= f.label "Fecha de Alta" %><br />
    <%= f.datetime_select :fechaalta %>
  </div>
  <div class="field">
    <%= f.label "Fecha de Baja" %><br />
    <%= f.datetime_select :fechabaja, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label "Motivo de la Baja" %><br />
    <%= f.text_area :motivobaja %>
  </div>
  <div class="field">
    <%= f.label "Estado" %><br />
	 <% @estados = Value.find(:all, :conditions => 'codigo like "1._"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
	 <%= f.select :estado_id, @estados, {:include_blank => true} %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Guardar Rol de usuario", :class => "boton", :op => "1" %>
  </div>
<% end %>
