<%= form_for @doc, :html => {:multipart => true, :class => "formularioformulario"} do |f| %>
  <% if @doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% @doc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Comisión" %><br />
	 <% unless params[:id].nil? %>
	 <% @comisiones = Commission.find(:all, :conditions => {:id => params[:id]} ).map { |t| [t.nombre, t.id] } %>
	     <%= f.select :commission_id, @comisiones %>
	 <% else %>
	 <% @comisiones = Commission.find(:all).map { |t| [t.nombre, t.id] } %>
	     <%= f.select :commission_id, @comisiones, {:include_blank => true} %>
	 <% end %>
  </div>
  <div class="field">
    <%= f.label "Url" %><br />
    <%= f.file_field :url %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Guardar Documentación", :class => "boton"%>
  </div>
<% end %>
