<h1>Documentación</h1>
<p id="notice"><%= notice %></p>
<% if current_user %>
   <% if is_admin || is_admin_UO || is_secre %>

	<br />
	<span class="nuevo">
	<%= link_to 'Nueva Documentación', new_doc_path + '/' + params[:id] %>
	</span>
	<br />
	<br />

<table>
  <tr>
    <th>Comisión</th>
    <th>Url</th>
    <th>Ver Datos</th>
    <th>Modificar</th>
    <th>Eliminar</th>
  </tr>

<% unless @docs.nil? %>
<% @docs.each do |doc| %>
  <tr>
    <td><%= doc.commission.nombre %></td>
    <td><%= link_to link_to image_tag("icons/download.png", :width => "25px"), doc.url , {:target => "_blank"} %>
	 <%= doc.url %></td>
    <td><%= link_to link_to image_tag("icons/view.png", :width => "25px"), doc %></td>
    <td><%= link_to link_to image_tag("icons/edit.png", :width => "25px"), edit_doc_path(doc) %></td>
    <td><%= link_to link_to image_tag("icons/delete.png", :width => "25px"), doc, :confirm => '¿Está Seguro?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<% end %>
<% end %>
<br>
<% if @searchbycomm %>
<span class="nuevo">
<%= link_to 'Volver', commissions_path + "/" + params[:id] %> 
</span>
<% else %>
<span class="nuevo">
<%= link_to 'Volver', meetings_path + "/searchbycomm/" + params[:id] %>
</span>
<% end %>
