<p id="notice"><%= notice %></p>

<table class="show">
<tr>
  <th>Comisión:</th>
  <td><%= @doc.commission.nombre %></td>
</tr>

<tr>
  <th>Fichero:</th>
  <td><%= link_to image_tag("icons/download.png", :width=> "25px"), @doc.url , {:target => "_blank"} %>
  <%= @doc.url %></td>
</tr>
</table>
<br />

