<div class="logged">
   <% if current_user %>
      <%= link_to (current_user.nombre + " " + current_user.apellido1), '/agents/' + current_user.id.to_s %>
      <%= link_to "(Salir)", :logout%>
   <% end %>
</div>

