<div class="menu">
<div class="submenu">
<% if current_user %>
   <%= link_to 'Usuarios |', agents_path if is_admin || is_admin_UO || is_secre  %>
<!--  <#%= link_to 'Mis datos |', agents_path unless is_admin || is_admin_UO || is_secre %>  -->
   <%= link_to 'Unidades Organizativas |', units_path  if is_admin %>
   <%= link_to 'Unidades Organizativas |', units_path  unless is_admin %>
<!--  <#%= link_to 'Roles |', rolagents_path  if is_admin || is_admin_UO || is_secre %>  
   <#%= link_to 'Comisiones |', commissions_path  if is_admin || is_admin_UO || is_secre %> 
   <#%= link_to 'Mis Comisiones |', commissions_path  unless is_admin || is_admin_UO || is_secre %> 
      <#%= link_to 'Documentación |', docs_path %> 
   <#%= link_to 'Reuniones |', meetings_path  if is_admin || is_admin_UO || is_secre %> 
   <#%= link_to 'Mis Reuniones |', meetings_path  unless is_admin || is_admin_UO || is_secre %> 
   <#%= link_to 'Asistentes |', attendants_path  if is_admin || is_admin_UO || is_secre %> -->
   <%= link_to 'Tabla de valores |', values_path  if is_admin %>

<% else %>
   <%= link_to 'Acceso', :login %>
<% end %>
</div>

</div>
