<%= form_for(@agent, :html => { :class => "formulario"} ) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Tipo" %><br />
	 <% @tipos = Value.find(:all, :conditions => 'codigo like "11._"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
    <%= f.select :tipo_id, @tipos, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label "Estado" %><br />
	 <% @estados = Value.find(:all, :conditions => 'codigo like "1._"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
    <%= f.select :estado_id, @estados, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label "Primer Apellido" %><br />
    <%= f.text_field :apellido1 %>
  </div>
  <div class="field">
    <%= f.label "Segundo Apellido" %><br />
    <%= f.text_field :apellido2 %>
  </div>
  <div class="field">
    <%= f.label "Tipo Documento" %><br />
	 <% @tipodocs = Value.find(:all, :conditions => 'codigo like "13._"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
    <%= f.select :tipodoc_id, @tipodocs, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label "Número de Documento" %><br />
    <%= f.text_field :numdoc %>
  </div>
  <div class="field">
    <%= f.label "Email" %><br />
    <%= f.text_field :email1 %>
  </div>
  <div class="field">
    <%= f.label "Otro Email" %><br />
    <%= f.text_field :email2 %>
  </div>
  <div class="field">
    <%= f.label "Teléfono" %><br />
    <%= f.text_field :telefono1 %>
  </div>
  <div class="field">
    <%= f.label "Otro Teléfono" %><br />
    <%= f.text_field :telefono2 %>
  </div>
  <div class="field">
    <%= f.label "Tipo Autentificación" %><br />
	 <% @tipoauths = Value.find(:all, :conditions => 'codigo like "12._"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
    <%= f.select :tipoauth_id, @tipoauths, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :"Usuario" %><br />
    <%= f.text_field :usuario %>
  </div>
  <!--<div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>-->
  <div class="field">
    <%= f.label "Password" %><br />
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    <%= f.label "Repite tu Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="field">
    <%= f.label "Server Imap" %><br />
    <%= f.text_field :serverimap %>
  </div>
  <div class="field">
    <%= f.label "Server Ldap" %><br />
    <%= f.text_field :serverldap %>
  </div>
  <div class="field">
    <%= f.label "Base Ldap" %><br />
    <%= f.text_field :baseldap %>
  </div>

  <div class="actions">
    <%= f.submit :value => "Guardar Usuario", :class => "boton"%>
  </div>

<% end %>
