<p id="notice"><%= notice %></p>

<% if is_admin || is_admin_UO || is_secre %>
<table class="show">
<tr>
  <th class="show_tipo">Tipo:</th>
  <td><%= @agent.tipo.description %>
</tr>

<tr>
  <th>Estado:</th>
  <td><%= @agent.estado.description %>
</tr>
<% end %>

<tr>
  <th>Usuario:</th>
  <td><%= @agent.usuario %>
</tr>

<tr>
  <th>Nombre:</th>
  <td><%= @agent.nombre %>
</tr>

<tr>
  <th>Primer Apellido:</th>
  <td><%= @agent.apellido1 %>
</tr>

<tr>
  <th>Segundo Apellido:</th>
  <td><%= @agent.apellido2 %>
</tr>

<tr>
  <th>Tipo de Documento:</th>
  <td><%= @agent.tipodoc.description %>
</tr>

<tr>
  <th>Número de Documento:</th>
  <td><%= @agent.numdoc %>
</tr>

<tr>
  <th>Email:</th>
  <td><%= @agent.email1 %>
</tr>

<tr>
  <th>Otro Email:</th>
  <td><%= @agent.email2 %>
</tr>

<tr>
  <th>Teléfono:</th>
  <td><%= @agent.telefono1 %>
</tr>

<tr>
  <th>Otro Teléfono:</th>
  <td><%= @agent.telefono2 %>
</tr>

<% if is_admin || is_admin_UO || is_secre %>

	<tr>
	  <th>Tipo Autentificacion:</th>
	  <td><%= @agent.tipoauth.description %>
	</tr>
	
	<tr>
	  <th>Server Imap:</th>
	  <td><%= @agent.serverimap %>
	</tr>
	
	<tr>
	  <th>Server Ldap:</th>
	  <td><%= @agent.serverldap %>
	</tr>
	
	<tr>
	  <th>Base Ldap:</th>
	  <td><%= @agent.baseldap %>
	</tr>
	
</table>
	<br />
	<span class="nuevo">
	<%= link_to 'Volver', agents_path %> 
	</span>
<% end %>

