<h1>Asistentes a Reuniones</h1>
<p id="notice"><%= notice %></p>
<br />
<% if is_admin || is_admin_UO || is_secre %>
   <span class="nuevo">
   <% if @search %>
   <%= link_to 'Nuevo Asistente a Reunión', :controller => "attendants", :action => "new", :op => @search %>
   <% else %>
   <%= link_to 'Nuevo Asistente a Reunión', new_attendant_path %>
   <% end %>
   </span>
<% end %>
<br />
<br />

<table>
  <tr>
    <th>Reunión</th>
    <th>Miembro</th>
    <th>Estado</th>
    <th>Descripción</th>
    <th>Ausencia</th>
    <th>Ver Datos</th>
    <th>Modificar</th>
    <th>Eliminar</th>
  </tr>

<% @attendants.each do |attendant| %>
  <tr>
    <td><%= attendant.meeting.fechainicio %></td>
    <td><%= attendant.agent.nombre %></td>
    <td><%= attendant.estado.description %></td>
    <td><%= attendant.description %></td>
    <td><%= attendant.ausencia.description %></td>
    <td><%= link_to link_to image_tag("icons/view.png", :width => "25px"), attendant %></td>
    <% if is_admin || is_admin_UO  || is_secre %>
    	<td><%= link_to link_to image_tag("icons/edit.png", :width => "25px"), edit_attendant_path(attendant) %></td>
    	<td><%= link_to link_to image_tag("icons/delete.png", :width => "25px"), attendant, :confirm => '¿Está Seguro?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br>
<span class="nuevo">
<%= link_to 'Volver', :back %> 
</span>
