<p id="notice"><%= notice %></p>

<table class="show">
<tr>
  <th>Reunión:</th>
  <td><%= @attendant.meeting.fechainicio %></td>
</tr>

<tr>
  <th>Miembro:</th>
  <td><%= @attendant.agent.usuario %></td>
</tr>

<tr>
  <th>Estado:</th>
  <td><%= @attendant.estado.description %></td>
</tr>

<tr>
  <th>Descripción:</th>
  <td><%= @attendant.description %></td>
</tr>

<tr>
  <th>Ausencia:</th>
  <td><%= @attendant.ausencia.description %></td>
</tr>
</table>
<br />
<br />
<span class="nuevo">
<%= link_to 'Volver', :back %> 
</span>
