<h1>Listado de usuarios</h1>

<%= link_to 'Añadir nuevo usuario', new_agent_path %>

<br />
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido1</th>
    <th>Email1</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if @agents.kind_of?(Array) then %>

<% @agents.each do |agent| %>
  <tr>
<!--    <td><%#= agent.tipo.description %></td>
    <td><%#= agent.estado.description %></td>-->
    <td><%= agent.nombre %></td>
    <td><%= agent.apellido1 %></td>
<!--    <td><%#= agent.apellido2 %></td>
    <td><%#= agent.tipodoc.description %></td>
    <td><%#= agent.numdoc %></td>-->
    <td><%= agent.email1 %></td>
<!--    <td><%#= agent.email2 %></td>
    <td><%#= agent.telefono1 %></td>
    <td><%#= agent.telefono2 %></td>
    <td><%#= agent.tipoauth.description %></td>
    <td><%#= agent.usuario %></td>
    <td><%#= agent.password %></td>
    <td><%#= agent.serverimap %></td>
    <td><%#= agent.serverldap %></td>
    <td><%#= agent.baseldap %></td>
    <td><%#= agent.rolagent %></td> -->
    <td><%= link_to image_tag("icons/view.png", :width => "25px"), agent %></td>
    <td><%= link_to image_tag("icons/edit.png", :width => "25px"), edit_agent_path(agent) %></td>
    <td><%= link_to image_tag("icons/delete.png", :width => "25px"), agent, :confirm => '¿Está Seguro?', :method => :delete %></td>
  </tr>
<% end %>

<% else %>
  <% agent = @agents %>
  <tr>
<!--    <td><%#= agent.tipo.description %></td>
    <td><%#= agent.estado.description %></td>-->
    <td><%= agent.nombre %></td>
    <td><%= agent.apellido1 %></td>
<!--    <td><%#= agent.apellido2 %></td>
    <td><%#= agent.tipodoc.description %></td>
    <td><%#= agent.numdoc %></td>-->
    <td><%= agent.email1 %></td>
<!--    <td><%#= agent.email2 %></td>
    <td><%#= agent.telefono1 %></td>
    <td><%#= agent.telefono2 %></td>
    <td><%#= agent.tipoauth.description %></td>
    <td><%#= agent.usuario %></td>
    <td><%#= agent.password %></td>
    <td><%#= agent.serverimap %></td>
    <td><%#= agent.serverldap %></td>
    <td><%#= agent.baseldap %></td>
    <td><%#= agent.rolagent %></td> -->
    <td><%= link_to image_tag("icons/view.png", :width => "25px"), agent %></td>
    <td><%= link_to image_tag("icons/edit.png", :width => "25px"), edit_agent_path(agent) %></td>
    <td><%= link_to image_tag("icons/delete.png", :width => "25px"), agent, :confirm => '¿Está Seguro?', :method => :delete %></td>
  </tr>
<%end %>
</table>

