
<h1>Reuniones</h1>

<% if @meetings %>
<table>
  <tr>
    <th>Commission</th>
    <th>Estado</th>
    <th>Fechainicio</th>
    <th>Ordendia</th>
    <th>Acta</th>
    <th>Fechaaprobacion</th>
    <th>Lugar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

   <% if @meetings.kind_of?(Array) then %>
      <% @meetings.each do |meeting| %>
        <tr>
          <td><%= meeting.commission.nombre %></td>
          <td><%= meeting.estado.description %></td>
          <td><%= meeting.fechainicio %></td>
          <td><%= meeting.lugar %></td>
          <td><%= link_to image_tag("icons/view.png", :width => "25px"), meeting %></td>
          <td><%= link_to image_tag("icons/edit.png", :width => "25px"), edit_meeting_path(meeting) %></td>
          <td><%= link_to image_tag("icons/delete.png", :width => "25px"), meeting, :confirm => '¿Está Seguro?', :method => :delete %></td>
        </tr>
      <% end %>
   <% else %>
      <% meeting = @meetings %>
         <tr>
          <td><%= meeting.commission.nombre %></td>
          <td><%= meeting.estado.description %></td>
          <td><%= meeting.fechainicio %></td>
          <td><%= meeting.lugar %></td>
          <td><%= link_to image_tag("icons/view.png", :width => "25px"), meeting %></td>
          <td><%= link_to image_tag("icons/edit.png", :width => "25px"), edit_meeting_path(meeting) %></td>
          <td><%= link_to image_tag("icons/delete.png", :width => "25px"), meeting, :confirm => '¿Está Seguro?', :method => :delete %></td>
        </tr>
   <% end %>

</table>
<% else %>
<table>
   <tr>
      <td> No hay reuniones a mostrar </td>
   </tr>
</table>
<% end %>
<br />
<span class="nuevo">
   <%= link_to 'Nueva Reunión', new_meeting_path %>
</span>
