<h1> Información Básica de la Comisión </h1>

<p id="notice"><%= notice %></p>

<table class="show">
<tr>
<th>Tipo:</th>
<td><%= @commission.tipo.description %></td>
</tr>

<tr>
<th>Estado:</th>
<td><%= @commission.estado.description %></td>
</tr>

<tr>
<th>Unidad:</th>
<td><%= @commission.unidad.nombre %></td>
</tr>

<tr>
<th>Nombre:</th>
<td><%= @commission.nombre %></td>
</tr>

<tr>
<th>Nombre Completo:</th>
<td><%= @commission.nombrelargo %></td>
</tr>

<tr>
<th>Funciones:<br></th>
<td><%= @commission.funciones %></td>
</tr>

<tr>
<th>Fecha Creación:</th>
<td><%= @commission.fechacreacion %></td>
</tr>

<tr>
<th>Fecha Baja:</th>
<td><%= @commission.fechabaja %></td>
</tr>

<tr>
<th>Motivo Baja:<br></th>
<td><%= @commission.motivobaja %></td>
</tr>

<tr>
<th>Composición:<br></th>
<td><%= @commission.composicion %></td>
</tr>


</table>
<br />
<br />

<% if is_admin || is_admin_UO %>

<span class="nuevo">
   <%= link_to 'Editar Datos Básicos de la Comisión', edit_commission_path(@commission) %>
</span>
<br />
<br />

<% end %>

<span class="nuevo">
   <%= link_to 'Ver Miembros', rolagents_path + "/searchbycomm/" + params[:id] + '/' +  @commission.unidad.id.to_s %>
</span>

<br />
<br />


<span class="nuevo">
   <%= link_to 'Ver Reuniones', meetings_path + "/searchbycomm/" + params[:id] %>
</span>

<br />
<br />

<span class="nuevo">
   <%= link_to 'Ver Documentos', docs_path + "/searchbycomm/" + params[:id] %>
</span>

<br />
<br />
<span class="nuevo">
<%= link_to 'Volver', commissions_path + "/searchbyunit/" +  @commission.unidad.id.to_s%> 
</span>
