<h1> Información Básica de la Unidad Organizativa </h1>

<p id="notice"><%= notice %></p>

<table class="show">
<tr>
  <th>Nombre:</th>
  <td><%= @unit.nombre %></td>
</tr>

<tr>
  <th>Nombre Completo:</th>
  <td><%= @unit.nombrelargo %></td>
</tr>
</table>

<br />
<br />

<% if is_admin %>

<span class="nuevo">
   <%= link_to 'Editar Datos Básicos de la Unidad Organizativa', edit_unit_path(@unit) %>
</span>
<br />
<br />

<% end %>

<span class="nuevo">
   <%= link_to 'Ver Comisiones', commissions_path + "/searchbyunit/" + params[:id] %></td>
</span>

<br />
<br />
<span class="nuevo">
<%= link_to 'Volver', units_path %> 
</span>
